POSTGRES_USER=loyalty
POSTGRES_PASSWORD=loyalty
POSTGRES_DB=loyalty
ConnectionStrings__Default=Host=postgres;Port=5432;Database=${POSTGRES_DB};Username=${POSTGRES_USER};Password=${POSTGRES_PASSWORD}
API_BASE_URL=http://backend:8080
